*{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(27, 26, 26);
  zoom: 105%;
}
h1{

  text-align: center;
}
section{
  padding: 40px;
}
.disable{
  opacity: 0.5;
  pointer-events: none;
}
#container{
  display: inline-flex;
  padding: 50px;
  border: 0.5px solid grey;
  flex-wrap: wrap;
  width: 100%;
}
.crcl{
  margin: 20px;
  margin-right: 30px;
  width: 70px;
  height: 70px;
  background: rgb(116, 55, 230);
  border: 3px solid rgb(66, 64, 230);
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
}
.crcl span{
  background-color:transparent;
  color: rgba(255, 255, 255, 0.644);
}
#inputNumber{
  margin-right: 85%;
  background-color: rgb(20, 20, 20);
  color: rgb(190, 190, 189);
}
.arrow{
  margin-top: 35px;
  width: 45px;
  height: 45px;
}
#error{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(206, 31, 31);
}